pytest~=7.1.2
Pillow>=9.0.1
selenium~=4.2.0
mouse>=0.7.1
PyAutoGUI>=0.9.53
PySimpleGUI>=4.56.0
keyboard>=0.13.5
test_framework_interactions-0.3.3.tar.gz
test_framework_milp-0.3.1.tar.gz
test_framework_process-0.3.tar.gz
test_framework_utilities-0.4.1.4.tar.gz
